Source: ros-hydro-nmea-comms
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-nmea-msgs, ros-hydro-roscpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-nmea-comms
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-nmea-msgs, ros-hydro-roscpp
Description: The nmea_comms package
